<?xml version="1.0"?>
<config>
    <modules>
        <Voga_DeliveredStatus>
            <version>0.0.1</version>
        </Voga_DeliveredStatus>
    </modules>
    <global>
        <models>
            <voga_deliveredstatus>
                <class>Voga_DeliveredStatus_Model</class>
            </voga_deliveredstatus>
        </models>
        <resources>
            <voga_deliveredstatus_setup>
                <setup>
                    <module>Voga_DeliveredStatus</module>
                </setup>
            </voga_deliveredstatus_setup>
        </resources>
        <sales>
            <order>
                <statuses>
                    <delivered translate="label">
                        <label>Delivered</label>
                    </delivered>
                </statuses>
            </order>
        </sales>
        <template>
            <email>
                <voga_deliveredstatus_deliveredstatus_group_email_template>
                    <label>Delivered Status</label>
                    <file>deliveredstatus.html</file>
                    <type>html</type>
                </voga_deliveredstatus_deliveredstatus_group_email_template>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <voga_deliveredstatus_parser>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>voga_deliveredstatus/cron::parseXmlFiles</model></run>
            </voga_deliveredstatus_parser>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <voga_deliveredstatus>
                                            <title>Delivered Status</title>
                                            <sort_order>200</sort_order>
                                        </voga_deliveredstatus>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <voga_deliveredstatus>
            <deliveredstatus_group>
                <email_field>general</email_field>
                <email_template>voga_deliveredstatus_deliveredstatus_group_email_template</email_template>
            </deliveredstatus_group>
        </voga_deliveredstatus>
    </default>
</config>
